* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar p {
    font-size: 0.9em;
    margin-top: 20px;
}
.sidebar li:hover {
    background-color: #3E424B;
    font-size: 18px;
    transition-duration: 0.5s;
}
.HTML {
    margin-left: 270px;
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}


@media (min-width: 425px) {
    .sidebar {
        width: 250px;
    }

    .HTML {
        margin-left: 270px;
    }

    .HTML table {
        overflow-x: auto;
    }
}

@media (max-width: 425px) {
    
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        overflow-y: scroll;
        max-height: 150px;
    }

    .HTML {
        margin-left: 0;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .HTML {
        overflow-x: scroll;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap;
    }
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 14px;
}

footer a {
    color: #0066cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

